/* start chat bar */
.chat-bar {
  position: fixed;
  right: 50%;
  margin-right: -590px;
  padding-bottom: 80px;
  height: 100%;
  width: 130px;
  z-index: 1;
}
.chat-bar .user-list {
  background-color: #e9eeeb;
  border-radius: 5px 0 0 5px;
  height: 100%;
  overflow: auto;
}
.chat-user .user-thumb {
  width: 40px;
  height: 40px;
  border-radius: 3px;
  padding: 6px;
}
.chat-user .user-thumb img {
  max-width: 100%;
  max-height: 100%;
  border-radius: inherit;
  vertical-align: middle;
}
.user-list .chat-user {
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  z-index: 1;
}
.chat-user .display-name {
  color: #333;
  font-size: 12px;
  font-weight: 500;
  padding: 4px;
  white-space: nowrap;
  border-radius: 3px 0 0 3px;
  line-height: 1.1;
  max-width: 200px;
  text-overflow: ellipsis;
  overflow: hidden;
  transition: all 0.2s ease;
}
.chat-user:hover .display-name {
  clip: rect(0, 200px, 20px, 0);
}
.chat-user:before{
  content: "";
  background-color: #eee;
  height: 10px;
  width: 10px;
  border: 1px solid #fff;
  box-shadow: 0 0 0 1px #fff;
  border-radius: 50%;
  position: absolute;
  bottom: 6px;
  left: 6px;
  z-index: 1;
}
.chat-user.online:before{
  background-color: #4CAF50;
}
.chat-user.away:before{
  background-color: orange;
}
.chat-user.offline:before{
  background-color: #cccccc;
}
.chatting-panel {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  max-width: 1200px;
  width: 100%;
  height: 0;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.chat-box {
  background-color: #fff;
  border: 1px solid #e3e3e3;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  flex: none;
  overflow: auto;
  position: relative;
}
.chat-box.active .box-head {
  background-color: rgba(110, 189, 82, 0.20);
}
.chat-box.active .box-form {
  overflow: visible;
}
.chat-box.new {
  border-color: #6ebd52;
  box-shadow: 0 0 10px 0 rgba(141, 210, 0, 0.5);
}
.chat-box.new .box-head {
  animation: new-msg 1s linear 3;
}
@keyframes new-msg {
  from {background-color: #c6e87f}
  to {background-color: #fff}
}
.chat-box ~ .chat-box {
  margin-left: 5px;
}
.chat-box .box-head,
.chat-box .box-form {
  background-color: #f8f8f8;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.08);
  flex: none;
  display: flex;
  align-items: center;
}
.chat-box .box-head {
  border-bottom: 1px solid #f1f1f1;
  padding: 5px 10px;
}
.chat-box .box-form {
  border-top: 1px solid #f1f1f1;
  overflow: hidden;
  height: 40px;
}
.chat-box .user-photo {
  border: 1px solid #fff;
  border-radius: 2px;
  width: 25px;
  height: 25px;
  margin-right: 8px;
  flex: none;
}
.chat-box .box-head img {
  max-width: 100%;
  max-height: 100%;
  border-radius: inherit;
}
.chat-box .display-name {
  font-size: 12px;
  font-weight: 500;
  color: #666;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  flex: auto;
  min-width: 0;
}
.chat-box .display-name a {
  text-decoration: none;
  color: #666;
}
.chat-box .display-name a:hover {
  color: #000;
}
.chat-box .box-head .action {
  flex: none;
  margin-left: 5px;
}
.chat-box .box-head .action .close {
  width: 18px;
  height: 18px;
  font-size: 12px;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  line-height: 18px;
  color: #bbb;
}
.chat-box .box-head .action .close:hover {
  color: #FF6655;
}
.chat-box .box-body {
  flex: auto;
  padding: 10px 10px 0;
  min-height: 0;
  overflow: auto;
}
.chat-box .box-body .bottom-flag {
  height: 10px;
}
.chat-box .new-message {
  background-color: #6ebd52;
  border-radius: 3px;
  position: absolute;
  bottom: 38px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  color: #fff;
  cursor: pointer;
  font-size: 11px;
  padding: 2px 8px;
}
/* width */
.chat-box .box-body::-webkit-scrollbar {
  width: 8px;
}
.chat-box .box-body::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
.chat-box .box-body::-webkit-scrollbar-thumb {
  background: #ddd; 
}

.chat-box .box-body::-webkit-scrollbar-thumb:hover {
  background: #ccc; 
}
.chat-box .message-cell .message-item {
    position: relative;
    display: inline-block;
    max-width: 100%;
}
.chat-box .message-cell.self {
    text-align: right;
}
.chat-box .message-cell.self .message-item {
    padding-left: 40px;
}
.chat-box .message-cell.other .message-item {
    padding-right: 40px;
}
.chat-box .message-cell ~ .message-cell {
  margin-top: 5px;
}
.chat-box .message-cell .time,
.chat-box .message-cell .action {
  visibility: hidden;
}
.chat-box .message-item:hover .time,
.chat-box .message-item .action.active,
.chat-box .message-item:hover .action {
  visibility: visible;
}
.chat-box .box-body .typing {
  display: inline-block;
  color: #666;
  margin-top: 10px;
  line-height: 1;
  position: relative;
  height: 15px;
  width: 25px;
}
.chat-box .box-body .typing:before {
  border-bottom: 1px solid #999;
  content: '\e945';
  font-family: 'Social';
  font-size: 15px;
  position: absolute;
  height: 100%;
  width: 0;
  animation: writing 1.5s linear infinite;
}
.chat-box .box-body .message {
  display: inline-block;
  background-color: #e9e9e9;
  padding: 4px 8px;
  border-radius: 3px;
  font-size: 12px;
  text-align: left;
  color: #444;
  word-wrap: break-word;
  max-width: 100%;
}
.chat-box .box-body .self .message {
  background-color: #c6e87f;
}
.chat-box .message-cell .time,
.chat-box .message-cell .action {
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
  width: 15px;
  height: 18px;
  text-align: center;
  position: absolute;
  top: 4px;
  color: #ccc;
  cursor: pointer;
  transition: all 0.1s ease;
}
.chat-box .message-cell.self .action {
  left: 20px;
}
.chat-box .message-cell.self .time {
  left: 0;
}
.chat-box .message-cell.other .action {
  right: 20px;
}
.chat-box .message-cell.other .time {
  right: 0;
}
.chat-box .message-cell .action.active,
.chat-box .message-cell .action:hover {
  color: #000;
}
.message-cell .action .pop-menu {
  background-color: rgba(0,0,0,0.8);
  border-radius: 3px;
  cursor: default;
  position: absolute;
  left: -20px;
  top: -30px;
  white-space: nowrap;
  padding: 0 5px;
}
.message-cell .action .pop-menu i {
  cursor: pointer;
  font-size: 10px;
  color: #ddd;
  padding: 7px;
  display: inline-block;
}
.message-cell .action .pop-menu .edit:hover {
  color: #6ebd52;
}
.message-cell .action .pop-menu .remove:hover {
  color: #FF6655;
}
.chat-box .empty-message {
  text-align: center;
  font-size: 16px;
  color: #ccc;
  padding: 55px 20px;
}
.chat-box .empty-message i {
  display: block;
  font-size: 30px;
  margin-bottom: 10px;
}
.chat-box .box-form .attach {
  flex: none;
  display: flex;
  padding: 0 8px;
  line-height: 15px;
  font-size: 16px;
  color: #aaa;
}
.chat-box .box-form .emoji {
  padding: 9px 3px;
}
.chat-box .box-form .file {
  margin-left: 5px;
  padding: 9px 3px;
}
.chat-box .box-form .attach .file,
.chat-box .box-form .attach .emoji {
  cursor: pointer;
}
.chat-box .box-form .attach .file:hover,
.chat-box .box-form .attach .emoji:hover {
  color: #6ebd52;
}
.chat-box .message-input {
  flex: auto;
  min-width: 0;
  position: relative;
  height: 33px;
}
.chat-box .message-input textarea {
  background-color: #fff;
  width: 100%;
  border-color: #eee;
  border-radius: 3px;
  resize: vertical;
  position: absolute;
  font-size: 12px;
  font-weight: 400;
  color: #333;
  bottom: 0;
  padding: 8px;
  margin: 0;
}
.chat-box .message-input textarea:focus {
  border-color: #c6e87f;
}
.chat-box .box-form .send {
  flex: none;
  margin-left: 8px;
  padding: 8px 8px 4px 0;
  background-color: transparent;
  border: none;
  color: #6ebd52;
  cursor: pointer;
  font-size: 18px;
}
.chat-box .box-form .send.disabled {
  color: #e9e9e9;
  cursor: default;
}