/* start chat bar */
.chat-bar {
  margin-left: 50px;
  flex: none;
}
.chat-user-container {
  background-color: #ffffff;
  right: 20px;
  top: 100px;
  border: 1px solid #e3e3e3;
  border-radius: 5px;
}
.chat-user .user-thumb {
  width: 45px;
  height: 45px;
  border-radius: 3px;
  padding: 8px;
  background-color: #fff;
}
.chat-user:nth-child(2n) .user-thumb {
  background-color: #f9f9f9;
}
.chat-user .user-thumb img{
  max-width: 100%;
  max-height: 100%;
  border-radius: inherit;
  vertical-align: middle;
}
.chat-user{
  cursor: pointer;
  position: relative;
  z-index: 1;
}
.chat-user .display-name {
  position: absolute;
  top: 50%;
  margin-top: -12px;
  background-color: #444;
  color: #c5c5c5;
  font-size: 11px;
  padding: 4px 8px;
  white-space: nowrap;
  border-radius: 3px 0 0 3px;
  line-height: 1.1;
  right: 100%;
  max-width: 200px;
  text-overflow: ellipsis;
  overflow: hidden;
  transition: all 0.2s ease;
  clip: rect(0, 0, 20px, 200px);
}
.chat-user:hover .display-name {
  clip: rect(0, 200px, 20px, 0);
}
.chat-user:before{
  content: "";
  background-color: #eee;
  height: 10px;
  width: 10px;
  border: 1px solid white;
  box-shadow: 0 0 0 0.5px #f1f1f1;
  border-radius: 50%;
  position: absolute;
  bottom: 7px;
  left: 7px;
}
.chat-user.online:before{
  background-color: #8dd200;
}
.chat-user.away:before{
  background-color: #ffbf00;
}
.chat-user.offline:before{
  background-color: #cccccc;
}
.chatting-panel {
  position: fixed;
  left: 50%;
  margin-left: -585px;
  bottom: 15px;
  max-width: 1170px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.chat-box {
  background-color: #fff;
  border: 1px solid #e3e3e3;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  width: 280px;
  height: 300px;
  display: flex;
  flex-direction: column;
  overflow: auto;
}
.chat-box ~ .chat-box {
  margin-left: 5px;
}
.chat-box .box-head,
.chat-box .box-form {
  background-color: #f9f9f9;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
  padding: 6px 10px;
  flex: none;
  display: flex;
  align-items: center;
}
.chat-box .box-head {
  border-bottom: 1px solid #f1f1f1;
}
.chat-box .box-form {
  border-top: 1px solid #f1f1f1;
}
.chat-box .user-photo {
  width: 23px;
  height: 23px;
  margin-right: 8px;
  border-radius: 2px;
  flex: none;
}
.chat-box .box-head img {
  max-width: 100%;
  max-height: 100%;
  border-radius: inherit;
}
.chat-box .display-name {
  font-size: 12px;
  font-weight: 600;
  color: #666;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  flex: auto;
  min-width: 0;
}
.chat-box .box-head .action {
  flex: none;
  margin-left: 5px;
}
.chat-box .box-head .action .close {
  width: 18px;
  height: 18px;
  font-size: 12px;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  line-height: 18px;
  color: #bbb;
}
.chat-box .box-head .action .close:hover {
  color: #FF6655;
}
.chat-box .box-body {
  flex: auto;
  padding: 10px;
  min-height: 0;
  overflow: auto;
}
/* width */
.chat-box .box-body::-webkit-scrollbar {
  width: 8px;
}
.chat-box .box-body::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
.chat-box .box-body::-webkit-scrollbar-thumb {
  background: #ddd; 
}

.chat-box .box-body::-webkit-scrollbar-thumb:hover {
  background: #ccc; 
}
.chat-box .message-cell.self {
    margin-left: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.chat-box .message-cell.other {
  margin-right: 30px;
}
.chat-box .message-cell ~ .message-cell {
  margin-top: 5px;
}
.chat-box .message-cell .action {
  visibility: hidden;
}
.chat-box .message-cell:hover .action {
  visibility: visible;
}
.chat-box .box-body .message {
  display: inline-block;
  background-color: #e9e9e9;
  padding: 4px 8px;
  border-radius: 3px;
  font-size: 12px;
  color: #444;
  min-width: 0;
  word-wrap: break-word;
}
.chat-box .box-body .self .message {
  background-color: #c6e87f;
}
.chat-box .message-cell .action {
  display: inline-block;
  vertical-align: middle;
  font-size: 10px;
  width: 15px;
  height: 15px;
  text-align: center;
  margin-left: 2px;
  cursor: pointer;
  color: #999;
}
.chat-box .message-cell .action:hover {
  display: inline-block;
  vertical-align: middle;
  font-size: 10px;
  width: 15px;
  height: 15px;
  text-align: center;
  margin-left: 2px;
  cursor: pointer;
  color: #000;
}
.chat-box .empty-message {
  text-align: center;
  font-size: 16px;
  color: #ccc;
  padding: 60px 20px;
}
.chat-box .empty-message i {
  display: block;
  font-size: 30px;
  margin-bottom: 10px;
}
.chat-box .box-form .emoji {
  flex: none;
  margin-right: 8px;
  width: 15px;
  height: 15px;
  line-height: 15px;
  text-align: center;
  font-size: 14px;
  color: #bbb;
  cursor: pointer;
}
.chat-box .box-form .emoji:hover {
  color: #8dd200;
}
.chat-box .message-input {
  flex: auto;
  min-width: 0;
  position: relative;
  height: 30px;
}
.chat-box .message-input textarea {
  background-color: #fff;
  width: 100%;
  border: 1px solid #f3f3f3;
  border-radius: 3px;
  resize: vertical;
  position: absolute;
  font-size: 12px;
  color: #333;
  bottom: 0;
  padding: 5px 8px;
}
.chat-box .box-form .send {
  flex: none;
  margin-left: 8px;
  padding: 0;
  background-color: transparent;
  border: none;
  color: #bbb;
  font-size: 15px;
}
.chat-box .box-form .send:hover {
  color: #8dd200;
}