/* Common */
body {
  background-color: #e9eeeb;
  font-family: Roboto, "Segoe UI", "Helvetica Neue", Arial;
}

*, *:before, *:after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

input, select, textarea {
  font-family: Roboto, "Segoe UI", "Helvetica Neue", Arial;
  outline: 0;
}

button, .button {
  background-color: #8dd200;
  border: 1px solid #8dd200;
  outline: none;
  padding: 5px 10px;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  font-size: 13px;
}

/* Custom radio, check, switch */
.input-box-inline {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.input-box-inline .input-box.checkbox, .input-box-inline .input-box.radio, .input-box-inline .input-box.switch {
  padding-right: 15px;
}
.input-box.checkbox, .input-box.radio, .input-box.switch {
  padding-top: 7.5px;
  padding-bottom: 7.5px;
}
.input-box-inline .input-box.checkbox input, .input-box-inline .input-box.radio input, .input-box-inline .input-box.switch input {
  top: 7.5px;
}
.input-box.checkbox input, .input-box.radio input {
  width: 16px;
  height: 16px;
}
.input-box.checkbox input, .input-box.radio input, .input-box.switch input {
  margin: 0;
  z-index: 1;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}
.input-box.checkbox label, .input-box.radio label {
  padding-left: 26px;
  min-width: 16px;
}
.input-box.checkbox label, .input-box.radio label, .input-box.switch label {
  margin-bottom: 0;
  position: relative;
  color: #777;
  min-height: 16px;
  font-size: 13px;
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-align-items: center;
  align-items: center;
}
.input-box.radio label:before {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.input-box.checkbox label:before, .input-box.radio label:before {
  background-color: #ffffff;
  border: 1px solid #CBD4DF;
  width: 16px;
  height: 16px;
}
.input-box.checkbox label:before, .input-box.radio label:before, .input-box.switch label:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  -moz-transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  -o-transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  -webkit-transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}
.input-box.checkbox input:not([disabled]) ~ label:not(:empty):hover:before,
.input-box.radio input:not([disabled]) ~ label:not(:empty):hover:before,
.input-box.switch input:not([disabled]) ~ label:not(:empty):hover:before {
  border-color: #8DD200;
}
.input-box.radio input:checked ~ label:before {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}
.input-box.checkbox input:checked ~ label:before, .input-box.radio input:checked ~ label:before {
  background-position: center;
  background-repeat: no-repeat;
  background-color: #8DD200;
  border-color: #8DD200;
  background-size: 8px;
}
/* end Custom radio, check, switch */

.main-body {
  overflow: auto;
  height: calc(100vh - 60px);
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  max-width: 1200px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.content-body {
  flex: auto;
  min-width: 0;
}

.column-section{
  display: flex;
  flex: auto;
  min-height: 0;
  overflow: auto;
}

.column-section .right-column,
.column-section .left-column {
  flex: none;
  width: 22%;
  min-width: 225px;
}

.column-section .middle-column {
  flex: auto;
  min-width: 250px;
  margin-left: 15px;
  margin-right: 15px;
}

.common-block {
  background: #ffffff;
  border: 1px solid #e3e3e3;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  overflow: auto;
}

.common-block ~ .common-block {
  margin-top: 10px;
}

.common-block .block-header{
  background-color: #f9f9f9;
  border-radius: 5px 5px 0 0;
  color: #666666;
  font-size: 14px;
  font-weight: 600;
  padding: 10px 15px;
}

.common-block .block-body{
  font-size: 14px;
  color: #666666;
  padding: 15px;
}
/* End Common */

/* Welcome and message popup */
.message-popup {
  position: fixed;
  top: 20px;
  left: 50%;
  color: #fff;
  transform: translateX(-50%);
  background-color: #fff;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.20);
  border-radius: 5px;
  padding: 15px 25px;
  z-index: 99;
}

.message-popup.success {
  background-color: #8DD200;
}

.message-popup.error {
  background-color: #ff4040;
}

.welcome-section {
  background-color: #333;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 9;
}

.welcome-message {
    color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    line-height: normal;
    text-align: center;
}
.welcome-message span {
    color: #8dd200;
    font-size: 40px;
    display: block
}
.welcome-message .counter {
    color: #fff;
}
/* End welcome and message popup */


/* Start loader */
.loader-sm {
  border: 5px solid #fcfcfc;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
  border-top: 5px solid #8dd200;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  position: absolute;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.user-check-loader {
  position: absolute;
}
.card-loader {
  background-color: #fff;
  border: 1px solid #e3e3e3;
  border-radius: 5px;
  padding: 10px;
  position: relative;
  height: 150px;
  overflow: hidden;
}

.card-loader:only-child {
  margin-top:0;
}

.card-loader:before {
  content: '';
  height: 80px;
  display: block;
  background-color: #f9f9f9;
  box-shadow: -35px -85px 0 -35px #f9f9f9, -33px -60px 0 -33px #f9f9f9;
  margin-top: 50px;
}

.card-loader:after {
  content: '';
  background-color: #333;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  animation-duration: 1.25s;
  animation-iteration-count: infinite;
  animation-name: shadow-runner;
  animation-timing-function: linear;
  background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.7) 30%, rgba(255,255,255,0) 81%);
  background: -o-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.7) 30%, rgba(255,255,255,0) 81%);
  background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,0.7) 30%, rgba(255,255,255,0) 81%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=1 );
}

.button-loading {
  position: relative;
  overflow: hidden
}

.button-loading:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  animation-duration: 1.25s;
  animation-iteration-count: infinite;
  animation-name: shadow-runner;
  animation-timing-function: linear;
  background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,0.4) 40%, rgba(255,255,255,0) 80%);
}
 
@keyframes shadow-runner {
 0%{
    transform: translate3d(-100%, 0, 0);
  }
 100%{
    transform: translate3d(100%, 0, 0);
  }
}

.fade-hide {
  overflow: hidden;
  height: 100%;
  transition: all 1s ease;
}

.fade-hide.sliding {
  height: 0;
  opacity: 0;
}
/* End loader */