/* Common */
body {
  background-color: #e9eeeb;
  font-family: Roboto, "Segoe UI", "Helvetica Neue", Arial;
}

*, *:before, *:after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

input,
select,
textarea {
  font-family: Roboto, "Segoe UI", "Helvetica Neue", Arial;
  outline: 0;
  background-color: #fff;
  border: 1px solid #ddd;
  width: 100%;
  padding: 10px;
  border-radius: 2.5px;
  margin: 5px 0;
  color: #000;
  font-size: 13px;
  font-weight: 600;
}

input:focus,
select:focus,
textarea:focus {
  border-color: #6ebd52;
}

::-webkit-input-placeholder {
  color: #ddd;
}

:-moz-placeholder { /* Firefox 18- */
  color: #ddd;
}

::-moz-placeholder {  /* Firefox 19+ */
  color: #ddd;
}

:-ms-input-placeholder {  
  color: #ddd;
}

button,
.button {
  background-color: #6ebd52;
  border: 1px solid #6ebd52;
  outline: none;
  padding: 5px 10px;
  border-radius: 2.5px;
  color: #fff;
  cursor: pointer;
  font-size: 13px;
}

button:disabled,
.button:disabled {
  cursor: default;
}

.button-cancel {
  background-color: #b9b9b9;
  border-color: #b9b9b9;
}

.input-box .label,
.input-box label {
  color: #777;
  font-size: 13px;
}

.multi-column {
  display: flex;
}

.multi-column .column {
  flex: 1;
}

/* Custom radio, check, switch */
.input-box-inline {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  align-items: flex-end;
}
.input-box-inline .input-box {
  flex: 1;
}
.input-box-inline .input-box + .input-box {
  margin-left: 15px;
}
.input-box-inline .input-box.checkbox,
.input-box-inline .input-box.radio,
.input-box-inline .input-box.switch {
  padding-right: 15px;
}
.input-box.checkbox,
.input-box.radio,
.input-box.switch {
  padding-top: 7.5px;
  padding-bottom: 7.5px;
}
.input-box-inline .input-box.checkbox input,
.input-box-inline .input-box.radio input,
.input-box-inline .input-box.switch input {
  top: 7.5px;
}
.input-box.checkbox input,
.input-box.radio input {
  width: 16px;
  height: 16px;
}
.input-box.checkbox input,
.input-box.radio input,
.input-box.switch input {
  margin: 0;
  z-index: 1;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}
.input-box.checkbox label,
.input-box.radio label {
  padding-left: 26px;
  min-width: 16px;
}
.input-box.checkbox label,
.input-box.radio label,
.input-box.switch label {
  margin-bottom: 0;
  position: relative;
  min-height: 16px;
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-align-items: center;
  align-items: center;
}
.input-box.radio label:before {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.input-box.checkbox label:before,
.input-box.radio label:before {
  background-color: #ffffff;
  border: 1px solid #CBD4DF;
  width: 16px;
  height: 16px;
}
.input-box.checkbox label:before,
.input-box.radio label:before,
.input-box.switch label:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}
.input-box.checkbox input:not([disabled]) ~ label:not(:empty):hover:before,
.input-box.radio input:not([disabled]) ~ label:not(:empty):hover:before,
.input-box.switch input:not([disabled]) ~ label:not(:empty):hover:before {
  border-color: #6ebd52;
}
.input-box.radio input:checked ~ label:before {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}
.input-box.checkbox input:checked ~ label:before,
.input-box.radio input:checked ~ label:before {
  background-position: center;
  background-repeat: no-repeat;
  background-color: #6ebd52;
  border-color: #6ebd52;
  background-size: 8px;
}
/* end Custom radio, check, switch */

/* Custom file uploader */
.input-box {
  position: relative;
}
.input-box.input-file {
  background-color: #FBFBFB;
  position: relative;
  text-align: center;
  color: #ccc;
  font-size: 14px;
  padding: 10px 15px;
  border: 1px dashed #CBD4DF;
  border-radius: 3px;
}
.input-file.file-selected,
.input-file:hover {
  background-color: rgba(141, 210, 0, 0.05);
  border-color: #6ebd52;
}
.input-box.input-file input {
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.input-box.input-file .input-file-text {
  display: inline-block;
}
.input-box.input-file .input-file-text i {
  font-size: 25px;
  display: block;
  color: #ddd;
  margin-bottom: 5px;
}
/* end Custom file uploader */

/* Custom dropdown */
.custom-dropdown.show .dropdown-options {
  display: block;
}
.custom-dropdown .dropdown-options {
  background-color: #fff;
  border: 1px solid #e3e3e3;
  border-radius: 3px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  display: none;
  position: absolute;
  right: 0;
  top: 100%;
  margin-top: 8px;
  width: 150px;
  z-index: 15;
}
.dropdown-options .option {
  padding: 6px 12px;
  font-size: 14px;
  color: #333;
  cursor: pointer;
  text-decoration: none;
  line-height: 1.2;
}
.dropdown-options .option a {
  color: inherit;
  text-decoration: none;
}
.dropdown-options .option i {
  color: #999;
  margin-right: 5px;
}
.dropdown-options .option:hover {
  background-color: #f0f0f0;
}
.dropdown-options .empty-option {
  padding: 15px;
  color: #ccc;
  font-size: 14px;
  text-align: center;
}
/* end Custom dropdown */
.body {
  height: calc(100vh - 60px);
  margin-top: 60px;
  overflow: auto;
}
.main-body {
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  max-width: 1200px;
  width: 100%;
  margin-left: auto !important;
  margin-right: auto !important;
}

.content-body {
  flex: auto;
  min-width: 0;
}

.column-section{
  display: flex;
  flex: auto;
  min-height: 0;
  overflow: auto;
}

.column-section .right-column,
.column-section .left-column {
  flex: none;
  width: 22%;
  min-width: 250px;
}

.column-section .left-column {
  margin-right: 15px;
}

.column-section .right-column {
  margin-left: 15px;
}

.column-section .middle-column {
  flex: auto;
  min-width: 250px;
}

.common-block {
  background: #ffffff;
  border: 1px solid #e3e3e3;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  overflow: auto;
}

.common-block ~ .common-block {
  margin-top: 10px;
}

.common-block .block-header{
  background-color: #f8f8f8;
  border-radius: 5px 5px 0 0;
  color: #666666;
  font-size: 14px;
  font-weight: 600;
  padding: 10px 15px;
}

.common-block .block-body{
  font-size: 14px;
  color: #666666;
  padding: 15px;
}

.common-block .author-name {
  text-decoration: none;
  color: #333333;
  font-size: 13px;
  font-weight: 600;
}

.common-block a:hover {
  color: #000;
}
/* End Common */

/* Start loader */
.loader-sm {
  border: 5px solid #fcfcfc;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
  border-top: 5px solid #6ebd52;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  position: absolute;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.user-check-loader {
  position: absolute;
}
.card-loader {
  background-color: #fff;
  border: 1px solid #e3e3e3;
  border-radius: 5px;
  padding: 10px;
  position: relative;
  height: 150px;
  overflow: hidden;
}

.card-loader:only-child {
  margin-top:0;
}

.card-loader:before {
  content: '';
  height: 80px;
  display: block;
  background-color: #f8f8f8;
  box-shadow: -35px -85px 0 -35px #f8f8f8, -33px -60px 0 -33px #f8f8f8;
  margin-top: 50px;
}

.card-loader:after {
  content: '';
  background-color: #333;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  animation-duration: 1.25s;
  animation-iteration-count: infinite;
  animation-name: shadow-runner;
  animation-timing-function: linear;
  background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.7) 30%, rgba(255,255,255,0) 81%);
  background: -o-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.7) 30%, rgba(255,255,255,0) 81%);
  background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,0.7) 30%, rgba(255,255,255,0) 81%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=1 );
}

.button-loading {
  position: relative;
  overflow: hidden
}

.button-loading:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  animation-duration: 1.25s;
  animation-iteration-count: infinite;
  animation-name: shadow-runner;
  animation-timing-function: linear;
  background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,0.4) 40%, rgba(255,255,255,0) 80%);
}
 
@keyframes shadow-runner {
 0%{
    transform: translate3d(-100%, 0, 0);
  }
 100%{
    transform: translate3d(100%, 0, 0);
  }
}

.fade-hide {
  overflow: hidden;
  height: 100%;
  transition: all 1s ease;
}

.fade-hide.sliding {
  height: 0;
  opacity: 0;
}

@keyframes light-dim {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
 }
/* End loader */