/*----------------friend request start-------*/
.no-rq-item {
  padding: 15px 0;
  color: #ccc;
  font-size: 14px;
  text-align: center;
  width: 100%;
}
.friend-rq-item {
  display: flex;
}
.friend-rq-item ~ .friend-rq-item {
  border-top: 1px dashed #EEEEEE;
  padding-top: 15px;
  margin-top: 15px;
}
.friend-rq-item-thumb {
  width: 40px;
  height: 40px;
  border-radius: 3px;
  flex: none;
}
.friend-rq-item-thumb img{
  max-width: 100%;
  max-height: 100%;
  border-radius: 3px;
}
.friend-rq-item-content {
  padding-left: 10px;
  flex: auto;
  min-width: 0;
}
.mutual-f{
  font-size: 12px;
  color: #999999;
}
.rq-buttons{
  padding-top: 5px;
}
.rq-buttons button{
  background-color: #f8f8f8;
  font-weight: 400;
  font-size: 12px;
  color: #999;
  cursor: pointer;
  padding: 3px 8px;
  border: 1px solid #E6E6E6;
  border-radius: 2px;
  transition: all 0.1s;
}
.rq-buttons .accept:hover{
  background-color: #8dd200;
  border-color: #8dd200;
  color: #fff;
}
.rq-buttons .decline{
  margin-left: 10px;
}
.rq-buttons .decline:hover{
  background-color: #ff4040;
  border-color: #ff4040;
  color: #fff;
}
.friend-request-drop-down{
  background: #ffffff;
}

/*----------------friend request end-------*/