/*-----------------header start--------*/
.header{
  background: #333333;
  height: 60px;
  display: flex;
}
.header-container {
  display: flex;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.header .logo-bar {
  margin-right: 50px;
}
.header .logo-bar svg {
  vertical-align: middle;
}
.header .notification-bar,
.header .user-bar {
  flex: none;
}
.header .search-bar {
  flex: auto;
  margin-right: 50px;
}
.header .search-bar .search-form {
  max-width: 400px;
  position: relative;
  display: flex;
}
.header .search-form input {
  border-radius: 3px;
  background-color: rgba(255,255,255,0.1);
  border: 1px solid transparent;
  outline: none;
  color: #fff;
  height: 30px;
  padding: 0 40px 0 10px;
  width: 100%;
}
.header .search-form .search-button {
  position: absolute;
  background: none;
  border: none;
  color: #001100;
  right: 0;
  top: 0;
  width: 40px;
  height: 30px;
  padding: 0;
  font-size: 16px;
}
.header .search-form .search-button:hover {
  color: #8dd200;
}
.header .notification-bar {
  display: flex;
}
.header .notification-item {
  position: relative;
}
.header .notification-item .notification-count {
  position: absolute;
  right: -10px;
  top: -5px;
  color: #fff;
  font-size: 11px;
  background-color: #FF6655;
  padding: 0;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
}
.header .notification-item ~ .notification-item {
  margin-left: 25px;
}
.header .notification-button {
  color: #001100;
  font-size: 22px;
  cursor: pointer;
}
.header .user-bar {
  display: flex;
  align-items: center;
  margin-left: 50px;
}
.header .user-bar .user-photo {
  border-radius: 2.5px;
  flex: none;
  width: 35px;
  height: 35px;
  margin-right: 10px;
}
.header .user-bar .user-photo img {
  border-radius: inherit;
  max-width: 100%;
  max-height: 100%;
}
.header .user-bar .user-name {
  color: #a2a2a2;
  font-size: 13px;
  font-weight: 600;
}
.header .user-bar .nickname {
  font-style: italic;
  font-size: 12px;
  font-weight: 400;
}
/*-----------------------search list-----*/
.search-header{
  height: 35px;
  border-bottom: 1px solid #dddddd;
}
.search-header h4{
  height: 35px;
  padding-left: 10px;
  color: #484848;
  font-size: 12px;
  line-height: 35px;
}
.search-list{
  background: #ffffff;
  width: 100%;
  max-height: 400px;
  position: absolute;
  top: 30px;

  border: 1px solid #dddddd;
  border-top: 0;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;

  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.search-form .search:focus ~ .search-list{
  visibility: visible;
  opacity: 1;
}
.search-items{
  max-height: 400px;
  width: 100%;
  overflow: hidden;
}
.search-list .search-item{
  height: 30px;
}
.search-list .search-item a{
  display: block;
  position: relative;
  height: 30px;
  padding-left: 25px;

  text-decoration: none;
  font-weight: 600;
  color: #666666;
  font-size: 12px;
  line-height: 30px;
}
.search-list .search-item a:hover{
  background: #e9eeeb;
  color: #484848;
}
.search-list .search-item a .material-icons{
  position: absolute;
  top: 6px;
  left: 5px;
  font-size: 16px;
  color: #aaaaaa;
}
/*--------------------------search end-------*/
/*--------------------------header right content start-------*/
.header-content-wrapper{
  height: 60px;
  margin-right: 30px;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-flex-flow: nowrap;
  flex-flow: nowrap;
}
.alert-options{
  height: 60px;
  margin-right: 20px;
}
.alert-options ul{
  height: 60px;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-flex-flow: nowrap;
  flex-flow: nowrap;
}
.alert-options ul li{
  position: relative;
  list-style: none;
}
.alert-options ul li a{
  display: inline-block;
  padding: 5px;
}
.alert-options ul li .material-icons{
  cursor: pointer;
  color: #001100;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.alert-options ul li:hover .material-icons{
  color: #e9eeeb;
}
/*--------------------------profile option start----------*/
.profile-options a{
  color: #e9eeeb;
}
.profile-options .profile-link{
  padding: 0;
  text-decoration: none;
  height: 60px;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-flex-flow: nowrap;
  flex-flow: nowrap;
}
.profile-options .profile-link .material-icons{
  color: #dddddd;
}
.profile-link .author-name{
  color: #e9eeeb;
}
.profile-link .author-name h2{
  white-space: nowrap;
  font-weight: 400;
  font-size: 14px;
}
.profile-options .drop-down{
  border-top: 0;
  position: absolute;
  top: 100%;
  right: 0;
  visibility: hidden;
  opacity: 0;
}
.drop-down .profile .item{
  padding: 0;
  width: 200px;
}
.drop-down .profile .item:hover{
  background: #eeeeee;
}
.profile .item .material-icons{
  color: #333333!important;
  padding: 0 10px;
}
.profile .item a{
  text-decoration: none;
  display: block;
  padding: 20px 5px;
  width: 100%;
  font-weight: 600;
  color: #333333;
}
.profile .item a:hover{
  text-decoration: underline;
}
/*--------------------------profile option end----------*/
/*------------------Friend request drop-down start------*/
.drop-down{
  border-top: 11px solid #333333;
  position: absolute;
  top: 100%;
  right: -100%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-box-shadow: 5px 5px 10px #3332;
  -moz-box-shadow: 5px 5px 10px #3332;
  box-shadow: 5px 5px 10px #3332;
}
.drop-down-body{
  background: #ffffff;
  border: 1px solid #dddddd;
  border-top: 0;
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
}
.alert-options ul li:hover .drop-down{
  visibility: visible;
  opacity: 1;
}
.drop-down-items{
  max-height: calc(100vh - 150px);
  min-height: 250px;
  overflow-y: auto;
  overflow-x: hidden;
}
.drop-down-header{
  height: 30px;
  padding: 0 10px;
  border-bottom: 1px solid #dddddd;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
}
.drop-down-header a{
  padding: 0 5px;
  font-size: 12px;
  color: #333333;
  text-decoration: none;
}
.drop-down-header a:hover{
  text-decoration: underline;
}
.drop-down-header a:nth-child(1){
  font-weight: 600;
}
.drop-down-header a:nth-child(1):hover{
  text-decoration: none;
}
.drop-down-header a:nth-child(2){
  margin-left: auto;
}
.drop-down .item-thumb{
  padding: 5px;
  width: 50px;
  height: 50px;
}
.drop-down .item-thumb img{
  height: 50px;
  width: 50px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
}
.drop-down .item{
  text-decoration: none;
  color: #333333;
  width: 400px;
  padding: 10px 50px 10px;
  border-bottom: 1px solid #dddddd;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
}
.drop-down .friend-request-item{
  -webkit-align-items: flex-start;
  align-items: flex-start;
}
.drop-down-items .friend-rq-item-content{
  padding: 5px;
}
.drop-down .see-all a{
  display: block;
  padding: 10px;
  border-top: 1px solid #dddddd;
  text-decoration: none;
  font-size: 14px;
  text-align: center;
  color: #333333;
}
.drop-down .see-all a:hover{
  text-decoration: underline;
}
.item .rq-buttons{
  padding: 10px 0;
}
.item .rq-buttons button{
  margin: 0 3px;
}
.check-mark-button{
  width: 14px;
  height: 14px;
  background: #ffffff;
  position: relative;
}
.check-mark-button input{
  position: absolute;
  cursor: pointer;
  height: 0;
  width: 0;
}
.check-mark{
  background: #ffffff;
  border: 2px solid #aaaaaa;
  position: absolute;
  width: 8px;
  height: 8px;

  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  left: 0;
  top: 0;
}

.check-mark:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  background: #aaaaaa;

  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  top: -1px;
  left: -1px;
}

.check-mark:hover::after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity=30);
  opacity: 0.3;
}

.check-mark-button input[type=checkbox]:checked + .check-mark{
  cursor: pointer;
}
.check-mark-button input[type=checkbox]:checked + .check-mark:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
}
/*------------------Friend request drop-down end------*/
/*------------------Messenger drop-down start------*/
.messenger{

}
.message-item{
  text-decoration: none;
}
.message-item-content{
  padding: 10px;
}
.message-item-content .author-name{
  color: #484848;
}
.message-body{
  width: 300px;
  color: #999999;
  font-size: 14px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
/*------------------Messenger drop down end------*/
/*------------------Notification drop down start------*/
.notification-item-content{
  font-size: 14px;
  padding: 10px;
  -webkit-flex-grow: 1;
  flex-grow: 1;
}
.notification-item-content .author-name{
  font-size: 14px;
}
.notification-icon .material-icons{
  font-size: 14px;
  color: #8dd200!important;
}
.notification .drop-down .item-thumb{
  padding-left: 0;
}
/*------------------Notification drop down end------*/
/*--------------------------header right content end-------*/
/*-----------------header end--------*/