.popup {
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

.popup-block {
    position: relative;
    max-width: 400px;
    width: 100%;
}

.popup-body,
.popup-block {
    display: flex;
    flex-direction: column;
}

.popup-header,
.popup-action {
    background-color: #efefef;
    flex: none;
    padding: 10px 20px;
}

.popup-header {
    border-radius: 4px 4px 0 0;
    box-shadow: 0 2px 4px rgba(0,0,0,0.15);
    position: relative;
}

.popup-header .popup-title {
    color: #666666;
    font-size: 14px;
    font-weight: 600;
    padding-right: 25px;
}

.popup-header .popup-close {
    background-color: coral;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    position: absolute;
    right: 7px;
    top: 7px;
    height: 24px;
    width: 24px;
    text-align: center;
    line-height: 1;
    font-size: 10px;
    padding: 7px 0;
}

.popup-content,
.popup-body {
    flex: auto;
    min-height: 0;
}

.popup-content {
    background-color: #fff;
    padding: 20px;
    min-height: 80px;
    max-height: calc(100vh - 100px);
    overflow: auto;
}

.popup-action {
    border-radius: 0 0 4px 4px;
    box-shadow: 0 -2px 4px rgba(0,0,0,0.15);
    text-align: right;
    position: relative;
}

.popup-action .button ~ .button,
.popup-action button ~ button {
    margin-left: 10px;
}

.popup.popup-medium .popup-block {
    max-width: 700px;
}

.popup.popup-large .popup-block {
    max-width: 1000px;
}