/*----------------post create start-------*/
.post-create {
  border: 1px solid #e3e3e3;
  border-radius: 5px;
  background-color: #fff;
  margin-bottom: 10px;
  overflow: auto;
}
.post-create-tab,
.post-create-actions {
  background-color: #f9f9f9;
  display: flex;
  padding: 10px 15px;
}
.post-create-tab .tab-item {
    font-size: 20px;
    color: #dddddd;
    cursor: pointer;
    list-style: none;
}
.post-create-tab .tab-item ~ .tab-item {
    margin-left: 20px;
}
.post-create-tab .tab-item.active {
    color: #8dd200;
}
.post-create-form .tab-content {
    display: none;
}
.post-create-form .tab-content.active {
    display: block;
}
.post-create-body .input-file {
    padding: 20px 15px;
    font-size: 14px;
    border-color: #e9e9e9;
}
.post-create-body .input-file:hover {
    background-color: rgba(141, 210, 0, 0.05);
    border-color: #8dd200;
}
.post-create-body .videos,
.post-create-body .photos {
    padding: 15px;
}
.post-create-actions {
  justify-content: flex-end;
}
.post-create-actions .post-visibility {
  color: #ccc;
  margin-left: 10px;
}
.post-create textarea {
  border: 1px solid transparent;
  outline: none;
  min-height: 80px;
  width: 100%;
  border: none;
  padding: 15px;
  resize: vertical;
}
.post-create textarea:focus {
  border-color: #8dd200;
}
/*----------------post create end-------*/

/*----------------post start-------*/
.post-section .card-loader {
    margin-bottom: 10px;
}

.post-section .empty-post {
    border: 1px solid #e3e3e3;
    border-radius: 5px;
    height: 300px;
    background-color: #fff;
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    color: #ccc;
  }
.post{
    background: #ffffff;
    margin-bottom: 10px;
    border: 1px solid #e3e3e3;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    overflow: auto;
}
.post-author{
    position: relative;
    padding: 15px;
    align-items: flex-start;
    display: flex;
}
.author-post-detail{
    flex: auto;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    min-width: 0;
}
.post-author-thumb{
    display: inline-block;
    width: 35px;
    height: 35px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    overflow: hidden;
}
.post-author-thumb img{
    max-width: 100%;
    max-height: 100%;
}
.author-post-info{
    padding: 0 10px;
}
.author-post_info {
    line-height: 1.1;
}
.author-post-info .post-attribute{
    font-size: 13px;
    color: #aaaaaa;
}
.author-post-info .post-attribute a{
    color: #8dd200;
    text-decoration: none;
}
.author-post-info .post-attribute a:hover{
    text-decoration: underline;
}
.author-post-info .post-date-time{
    font-size: 12px;
    color: #aaaaaa;
}
.post-author .action-button {
    background: transparent;
    border: 0;
    color: #CCCCCC;
    font-size: 16px;
    line-height: 20px;
    width: 25px;
    margin-left: 10px;
    padding: 0;
    cursor: pointer;
    flex: none;
    transition: all 0.2s;
}
.post-author .action-button:hover{
    color: #666666;
}
/*----------------post body start---------*/
.post .post-body{
    font-size: 14px;
    color: #666666;
    padding: 0 15px 15px;
}
.post-body .post-atachment {
    display: flex;
    margin-top: 20px;
    flex-wrap: wrap;
}
.post-atachment .post-image {
    flex: auto;
    padding: 1px;
}
.post-atachment.multiple .post-image {
    max-width: 50%;
}
.post-image img {
    max-width: 100%;
    vertical-align: middle;
}
/*----------------post body end---------*/
/*----------------(like comment share)LCS section start---------*/
.lcs-section{
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    background-color: #fafafa;
    padding: 7px 0;
}
.like-dislike button{
    background: transparent;
    border: 1px solid transparent;
    padding: 1px 8px;
}
.like-dislike i {
    padding: 5px;
    font-size: 16px;
    color: #ccc;
    cursor: pointer;
    display: inline-block;
    transition: all 0.1s;
}
.like-dislike button:hover i {
    transform: scale(1.5);
}
.like-dislike .liked i,
.like-dislike .like:hover i {
    color: #8dd200;
}
.like-dislike .disliked i,
.like-dislike .dislike:hover i {
    color: #ff6655;
}
.lcs-section .share-button{
    background: transparent;
    border: 0;
}
.lcs-section .share-button i{
    color: #ccc;
    font-size: 17px;
}
.lcs-section .share-button:hover i{
    color: #666;
}
.author-name{
    text-decoration: none;
    color: #333333;
    font-size: 13px;
    font-weight: 600;
  }
.add-comment {
    flex: auto;
    min-width: 0;
    margin-left: 10px;
}
.add-comment input{
    font-size: 12px;
    width: 100%;
    padding: 6px 10px;
    border-radius: 3px;
    background-color: #F3F3F3;
    border: 1px solid transparent;
    outline: none;
    transition: all 0.2s;
}
.add-comment input:focus{
    background-color: #fcfcfc;
    border-color: #c6e87f;
}
.like-dislike span{
    color: #999999;
    font-size: 10px;
    position: relative;
    top: -3px;
}
.comment-reply {
    padding: 15px;
    background-color: #fdfdfd;
}
.comment{
    display: flex;
    flex-direction: column;
    color: #777;
    font-size: 12px;
}
.comment ~ .comment {
    margin-top: 15px;
}
.comment input {
    font-size: 12px;
    width: calc(100% - 28px);
    position: relative;
    left: 28px;
    padding: 4px 8px;
    border-radius: 3px;
    background-color: #f3f3f3;
    border: 1px solid transparent;
    outline: none;
    transition: all 0.2s;
    margin-top: 10px;
}
.comment input:hover,
.comment input:focus {
    background-color: #fcfcfc;
    border-color: #c6e87f;
}
.comment-section {
    display: flex;
}
.commentor{
    border-radius: 3px;
    width: 20px;
    height: 20px;
    flex: none;
    margin-right: 8px;
}
.commentor img{
    max-width: 100%;
    max-height: 100%;
    border-radius: inherit;
}
.comment-body {
    min-width: 0;
    border-radius: 3px;
    padding: 3px 6px;
    background-color: #f3f3f3;
}
.comment .action {
    flex: none;
    margin-left: 10px;
    padding: 2px 0;
    visibility: hidden;
}
.comment:hover .action {
    visibility: visible;
}
.comment .action span {
    cursor: pointer;
    color: #ccc;
}
.comment .action span:hover {
    color: #8dd200;
}
.comment .reply-section {
    padding-top: 10px;
    padding-left: 30px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.reply-section .replyar {
    border-radius: 2px;
    width: 15px;
    height: 15px;
    margin-right: 8px;
}
.reply-section .replyar img {
    max-width: 100%;
    max-height: 100%;
}
.reply-section .reply-message {
    background-color: #f3f3f3;
    padding: 2px 6px;
    border-radius: 3px;
}
/*----------------(like comment share)LCS section end---------*/
/*----------------post end-------*/