/*----------------profile start-------*/
.popup.popup-cover-photo .popup-content,
.popup.popup-profile-photo .popup-content {
  min-height: 330px;
}
.change-photo {
  position: absolute;
  right: 15px;
  bottom: 10px;
  font-size: 24px;
  color: #9c9c9c;
  cursor: pointer;
  display: none;
}
.change-photo:hover {
  color: #333333;
}
.cover-photo:hover .change-photo,
.profile-photo:hover .change-photo {
  display: block;
}
.cover-photo .change-photo {
  top: 10px;
  bottom: auto;
}
.change-photo:before {
  font-family: Social;
  content: "\E90A";
}
.profile-info-section {
  margin-bottom: 15px;
}
.cover-photo{
  border-width: 1px 1px 0;
  border-style: solid;
  border-color: #e3e3e3;
  border-radius: 5px 5px 0 0;
  height: 300px;
  position: relative;
  overflow: hidden;
}
.cover-photo img {
  max-width: 100%;
}
.profile-section{
  border: 1px solid #e3e3e3;
  border-top: 0;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.profile-author, .profile-section{
  background: #ffffff;
  position: relative;
  height: 50px;
  border-bottom: 1px solid #e3e3e3;
  border-radius: 0 0 5px 5px;
  display: flex;
}
.profile-author {
  flex: none;
}
.profile-photo{
  border: 3px solid #fff;
  border-radius: 5px;
  position: absolute;
  bottom: 15px;
  left: 15px;
  width: 120px;
  height: 120px;
  overflow: hidden;
}
.profile-photo img{
  max-height: 100%;
  max-width: 100%;
}
.popup .preview-photo {
  margin-top: 20px;
  text-align: center;
}
.popup .preview-photo img {
  max-height: 100%;
  max-width: 100%;
}
.profile-name{
  height: 50px;
  margin-left: 150px;
  display: -moz-flex;
  display: flex;
  align-items: center;
}
.profile-name .update-info {
  cursor: pointer;
  font-size: 16px;
  margin-left: 15px;
  visibility: hidden;
}
.profile-name .update-info:hover {
  color: #8dd200;
}
.profile-info-section:hover .profile-name .update-info {
  visibility: visible;
}
.author-nick-name{
  white-space: nowrap;
  padding-left: 5px;
  color: #999999;
  font-size: 12px;
}
.profile-drop-downs, .drop-downs{
  height: 50px;
  width: 100%;
}
.profile-drop-downs .drop-downs{
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  justify-content: flex-end;
}
.drop-downs li{
  list-style: none;
}
.drop-downs li a{
  height: 50px;
  padding: 15px;

  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  color: #999999;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.drop-downs li.active a,
.drop-downs li a:hover{
  color: #333333;
}
/*----------------profile end-------*/