/*--------------right side bar start-----*/
.sidebar-right{
  max-height: calc(100vh - 100px);
  padding: 10px 0;
  background: #ffffff;
  right: 20px;
  top: 100px;

  border: 1px solid #e3e3e3;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  overflow: auto;
}
.chat-users li{
  list-style: none;
}
.chat-users .author-thumb, .author-thumb img{
  width: 30px;
  height: 30px;

  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.author-thumb{
  position: relative;
  cursor: pointer;
  margin: 10px;
  border: 0;
}
.active-user{
  position: relative;
}
.active-user:after{
  content: "";
  background: #8dd200;
  height: 8px;
  width: 8px;
  border: 1px solid white;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;

  position: absolute;
  top: -4px;
  left: -2px;
}
.user-away:after{
  content: "";
  background: #ffbf00;
  height: 8px;
  width: 8px;
  border: 1px solid white;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;

  position: absolute;
  top: -4px;
  left: -2px;
}
.inactive-user:after{
  content: "";
  background: #cccccc;
  height: 8px;
  width: 8px;
  border: 1px solid white;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;

  position: absolute;
  top: -4px;
  left: -2px;
}
/*--------------right side bar end-----*/